.home {
  background: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center;
  .slider {
    margin-top: 205%;
  }
}

.home-container {
  position: absolute;
  top: -260px;
}
.main-pic {
  position: absolute;
  top: 30px;
  // margin-top: 320px;
  display: flex;
  width: 100%;
  display: flex;
}
.main-pic .main-img {
  width: 200px;
  height: 170px;
  margin-left: 10px;
  margin-right: 10px;
}
.main-content h1 {
  margin-top: -3%;
  width: 140px;
  font-size: 1em;
  text-align: justify;
  color: #085372;
}
.main-content p {
  text-align: left;
  color: #085372;
}
.home .btn {
  margin-top: 5%;
}

.home .btn {
  position: sticky;
  margin-top: 130%;
  margin-left: 30%;
  border: 3.5px solid #085372;
  outline: none;
  padding: 0.75em 1em;
  font-size: 1em;
  letter-spacing: 1px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 24px;
  background: #f7bf48;
  color: #085372;
}
.bi-arrow-right-circle-fill {
  margin-left: -5px;
  margin-right: 10px;
}
.btn:hover {
  cursor: pointer;
}
.wedding {
  margin-top: 30px;
  text-align: center;
  width: 370px;
  height: 100px;
}
.wedding h1 {
  padding-top: 30px;
  text-align: center;
  z-index: -1;
  color: #195277;
  margin: 10px 10px;
}
.wedding p {
  padding-top: 20px;
  text-align: left;
  color: #195277;
  margin: 10px 10px;
}
#weddings video {
  width: 90%;
  border-radius: 0.5rem;
  margin-left: 8%;
  margin-right: 5%;
}


.footer {
  display: flex;
  margin-top: 50px;
  width: 390px;
  height: 100px;
  background-color: #195277;
  margin-left: -2%;
}
.footer-logo {
  width: 40px;
  height: 40px;
}

.img-size img {
  width: 10px;
  height: 10px;
}
.menu-properties {
  width: 130px;
  height: 240px;
  border: 0.5px solid #f7bf48;
  border-radius: 5px;
}
.menu-content {
  padding: 1%;
}
.name {
  color: aqua;
}
.name:hover {
  cursor: pointer;
}

// Media (desktop)
@media only screen and (max-width: 320px){
  .blocks-widthh {
    width: 100%;
}
}




.priority-nav{

  white-space: nowrap; // prevent flash of unstyled content

  /*
    * Makes sure the menu's are inline-block so they don't take up
    * the entire width of its parent. This will break the plugin.
    */
  > ul{
    display: inline-block;
    > li{
      display: inline-block;
    }
  }
  &-has-dropdown{
    .priority-nav{
      &__dropdown{
        &-toggle{
          position: relative;
        }
      }
    }
  }
  &__wrapper{
    position: relative;
  }
  &__dropdown{
    position: absolute;
    visibility: hidden;
    &.show{
      visibility: visible;
    }
    &-toggle{
      visibility: hidden;
      position: absolute;
    }
  }
  &-is-visible{
    visibility: visible;
  }
  &-is-hidden{
    visibility: hidden;
  }
}