.navbar {
  width: 100%;
  height: 70px;
  background-color: #085372;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 2s ease;
  &.active {
    // background-color: #F7BF48;
    color: #085372;
    .hamburger {
      :first-child {
        background-color: #f7bf48;
        transform: rotate(40deg);
      }
      :nth-child(2) {
        opacity: 0;
      }
      :nth-child(3) {
        background-color: #f7bf48;
        transform: rotate(-40deg);
      }
    }
  }
  .wrapper {
    width: 90%;
    height: 100%;
    display: flex;
    // flex-wrap: wrap;
    // align-content: flex-end;
    // justify-content: space-between;
    gap: 100px;

    .hamburger {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 5px;
      margin: 15px 15px;
      width: 32px;
      height: 22px;
      span {
        width: 100%;
        height: 1.5px;
        background: #f7bf48;
        transform-origin: left;
        // transition: all 1s ease;
      }
    }
  }
}

.logo {
  width: 70px;
  height: 70px;
  margin-right: 20%;
}
